@font-face {
    font-family: "SFProText";
    src: url("./static/fonts/SF-Pro-Text-Regular.otf");
  }
  @font-face {
    font-family: "SFProDisplay";
    src: url("./static/fonts/SF-Pro-Display-Semibold.otf");
  }

* {   
  font-family: "SFProText";
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #202020;
}